body {
    background-color: gray;
}

.title {
    color: lightgreen;
    text-align: center;
}

.blurb {
    color: blue;
}

p {
    color: red;
}
#main {
    border: black solid 5px;
    border-radius: 25px;
}

.blurbDiv {
    border: solid black 2px;
    border border-radius: 10px;
    background-color: lightgray;
    text-align: center;
}
#align {
    display: flex;
    justify-content: space-evenly;
}